examples/4KOH_92H2O_333K/cp2k/
examples/4KOH_92H2O_333K/mace/
examples/4KOH_92H2O_333K/mattersim/
examples/4KOH_92H2O_333K/sevennet/
examples/4KOH_92H2O_333K/utils/
examples/CsH2PO4/cp2k/
examples/CsH2PO4/mace/
examples/CsH2PO4/mattersim/
examples/CsH2PO4/sevennet/
examples/CsH2PO4/utils/
build/
wheelhouse/
dist/
tutorials/
__pycache__/
docs/conf.py
docs/make.bat
docs/Makefile
docs/source/_static/
docs/source/_templates/
#
*.egg-info
*.pyc
*trainset.xyz
examples/how_to_add_example.txt
src/amaceing_toolkit/default_configs/hpc_setup.txt
src/amaceing_toolkit/runs/run_logger.log
src/amaceing_toolkit/runs/finetuned_models.log
.readthedocs.yaml
.gitignore